@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131315;
  --foreground: #131315;
  --bordercolor: #34343a;
  --secondaryText: #4da2ff;
  --primaryText: #f5f5f54d;
  --positive: #08bdb7;
  --negative: #4da2ff;
  --placeholderText: #646470;
  --sidebar: #1d1d1e;
  --fadedText: #c5c5c8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Chakra Petch", sans-serif;
}

.Container {
  @apply flex-1 flex justify-center w-full  h-full;
}

.innerContainer {
  @apply w-full px-4  h-full pt-6 md:pt-12 flex flex-col gap-y-5;
}

.header {
  @apply text-[#FFFBFE] font-bold text-xl;
}

.primarybutton {
  @apply flex items-center gap-x-2 md:gap-x-2 border border-bordercolor rounded-md px-2 md:px-3 py-2 md:py-3 uppercase font-bold text-xs md:text-sm lg:text-base  leading-3 md:leading-4 cursor-pointer hover:bg-sidebar hover:scale-95 duration-200;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
